<div id="description">
  <p>Can't make up your mind? The correct path is with probability.</p>
  <p>Instead of spending 30 seconds trying to find a coin, and then 13 seconds to flip it - use Cointoss. </p>
  <p>Cointoss has perfected distributed randomness down to a science. Instead of a few flips of a coin, Cointoss gives you 1,000.</p>
</div>
<span class="button">
  <a href="/toss">Click here to toss 1,000 coins.</a>
</span>
