<div id="result">
    <%= @side %>
</div>
<span class="button"><a href="/">Return.</a> | <a href="/toss">Flip again.</a></span>
<div id="resultCount">
    <span class="heads"><span class="text">Heads:</span> <%= @heads %></span>
    <span class="tails"><span class="text">Tails:</span> <%= @tails %></span>
</span>
