<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Coin Toss :: Waking Ideas</title>
        <meta name="Robots" content="index,all" />
        <meta name="Keywords" content="coin, toss, waking ideas, probability" />
        <meta name="Description" content="Waking Ideas 10,000 trial coin toss" />
        <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    </head>


    <body>
        <div id="wrapper">
            <div id="result">
                <%= @side %>
            </div>
            <span class="button"><a href="/">Return.</a> | <a href="result.php">Flip again.</a></span>
            <div id="resultCount">
                <span class="heads"><span class="text">Heads:</span> <%= @heads %></span>
                <span class="tails"><span class="text">Tails:</span> <%= @tails %></span>
            </span>
            
        </div>
    </body>
</html>