<h1><%= @side %></h1>

<a class="button" href="/toss">Flip again.</a>

<ul id="results">
  <li>Heads:<span><%= @heads %></span></li>
  <li>Tails:<span><%= @tails %></span></li>
  <li class="last">Last Result: <span><%= @last %></span></li>
</ul> 
