body{
	font-family: "Helvetica Neue", Helvetica, Arial,  Geneva, sans-serif;
	color: #666666;
	font-size: 62.5%;
}

#wrapper {
	padding-top: 40px;
}

#description {
	width: 300px;
	margin: 0 auto;
	font-size: 2em;
}
a {
	font-weight: bold;
	color: #555555;
	text-decoration: none;
}

a:hover {
	color: #222222;
}

#result {
	text-align: center;
	font-size: 20em;
	font-weight: bold;
}

.tie {
	font-size: 10em;
}

.button {
	font-size: 2em;
	text-align: center;
	display: block;
}

#resultCount {
    padding: 25px;
    margin-top: 50px !important;
    border: 1px dotted #cccccc;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

#resultCount span.text {
    font-weight: bold;
}