body{
	font-family: "Helvetica Neue", Helvetica, Arial,  Geneva, sans-serif;
	color: #666666;
	font-size: 62.5%;
}

#wrapper {
	padding-top: 40px;
}

#description {
	width: 300px;
	margin: 0 auto;
	font-size: 2em;
}
a {
	font-weight: bold;
	color: #555555;
	text-decoration: none;
}

a:hover { color: #222222; }

h1 {
	text-align: center;
	font-size: 20em;
	margin: 0;
}

.button {
	font-size: 2em;
	text-align: center;
	display: block;
	margin-bottom: 50px;
}

#results {
    padding: 25px;
    margin-top: 50px;
    border: 1px dotted #cccccc;
    width: 150px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 70px;
    margin-bottom: 150px;
}

#results span {
    font-weight: normal;
    margin-left: 5px;
}

#results li {
  float: left;
  margin-left: 10px;
  list-style: none;
}

li.last {margin-top: 10px;}